.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
}
.movie-list {
  width: 700px;
}
li {
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
}

li:hover {
  border-color: #9361bf;
}

.delete {
  float: right;
  background: red;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
